<div ng-controller="BaseStatsCtrl">
  <div class="row">
    <div class="large-3 columns" ng-repeat="stat in baseStats">
      <div class="row">
        <div class="small-6 columns">
          <label for="{{stat.name}}" class="right inline">{{stat.name}}</label>
        </div>
        <div class="small-6 columns">
          <input id="{{stat.name}}" type="text" value="{{stat.val}}"  ng-model="stat.val" />
        </div>
      </div>
    </div>
    <div class="large-3 columns">
    </div>
  </div>
</div>

